{% comment %}
  Snippet can be used in section or block
  eg. {% include 'include-divider' %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% comment %} Layout {% endcomment %}
{% assign width = object.settings.width %}
{% assign padding_top = object.settings.padding_top %}
{% assign padding_bottom = object.settings.padding_bottom %}
{% assign animation = object.settings.animation | default: 'none' %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = object.settings.css_class %}
{% assign custom_css = object.settings.custom_css %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign divider_alpha = object.settings.divider_color | color_extract: 'alpha' %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}

  .heading-divider:not(.heading-divider--vertical) {
    border-color: {%- if divider_alpha != 0 -%}{{ object.settings.divider_color }}{%- endif -%};
    border-width: {%- if object.settings.divider_width == 1 -%}thin{%- else -%}{{ object.settings.divider_width }}px{%- endif -%};
  }

  .heading-divider--vertical {
    background: {%- if divider_alpha != 0 -%}{{ object.settings.divider_color }}{%- endif -%};
    width: {{ object.settings.divider_width }}px;
  }

{%- endcapture -%}

{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {% include 'css-loop', css: section_css, id: id %}
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ css_class }}
                is-width-{{ width }}
                "
                {% if animation != "none" %}
                  data-scroll-class="{{ animation }}"
                {% endif %}>
  <div class="container
              ">
    <div class="one-whole column">
      <div class="divider-section__content
                  is-flex
                  is-flex-column
                  is-align-{{ object.settings.alignment }}">
        {% if settings.display_heading_divider == true %}
          <div class="heading-divider
                      heading-divider--{{ object.settings.divider_style }}"
                >
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
