{% comment %}
Required values
blog_handle: <string>
{% endcomment %}

{% if block.settings.title != blank %}
  <h3 class="sidebar-block__heading" data-has-toggle-option>
    {{ block.settings.title }}
    {% if settings.toggle_sidebar %}
      <button data-sidebar-block__toggle-icon="closed" aria-label="toggle" class="sidebar-block__toggle-icon icon-style--{{ settings.toggle_icon_style }}">
        {% if settings.toggle_icon_style == 'plus_and_minus' %}
          {% include settings.icon, name: 'plus', icon_class: 'icon--active' %}
          {% include settings.icon, name: 'minus' %}
        {% else %}
          {% include settings.icon, name: 'down-caret', icon_class: 'icon--active' %}
        {% endif %}
      </button>
    {% endif %}
  </h3>
{% endif %}
<div class="sidebar-block__content tags" {% if settings.toggle_sidebar %} data-sidebar-block__content--collapsible{% endif %}>
  {% for tag in blogs[blog_handle].all_tags %}
    <span class="tag tag--{{ settings.tag_style }}">
      <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">
        {{ tag }}
      </a>
    </span>
  {% endfor %}
</div>
